
.titulo {
    color: rgb(209, 133, 41);
}

.parrafo {
    font-style: italic;
}

.parrafo2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
};